body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

@media (min-width: 481px)
{
  .card{
    width: 50%;
    height: 400px;
  }

  .left{
    float: left;
  }

  .right{
    float: right;
  }

  footer{
    clear: both;
  }
  .card-text{
    text-align: left;
  }

  .tile-image{
    height: 200px;
    width: 80%;
  }

}

